                                                             
                                                                /*section 1*/

.section-1 { width: 1920px; 
             height: 1080px;
             background-image: url(../img/untitled-1.png); }

.s1-big-box { display: flex;
              justify-content: end; }

.s1-img { width: 212px;
          height: 146px;
          margin-right: 444.9px;
          margin-top: 40px; }

.s1-box1 { display: flex;
           justify-content: end; }

.s1-p { margin-top: 43px;
        font-family: 'Montserrat-Light'; }

.s1-p:nth-child(1) { width: 51px;
                     height: 19px;
                     font-size: 16px;
                     color: #FFFFFF;
                     margin-right: 54px; }

.s1-p:nth-child(2) { width: 48px;
                     height: 19px;
                     font-size: 16px;
                     color: #FFFFFF;
                     margin-right: 53px; }

.s1-p:nth-child(3) { width: 57px;
                     height: 21px;
                     font-size: 16px;
                     color: #FFFFFF;
                     margin-right: 56px; }

.s1-p:nth-child(4) { width: 98px;
                     height: 21px;
                     font-size: 16px;
                     color: #FFFFFF;
                     margin-right: 54px; }

.s1-p:nth-child(5) { width: 92px;
                     height: 19px;
                     font-size: 16px;
                     color: #FFFFFF;
                     margin-right: 37px; }

.s1-box2 { width: 428px;
           height: 109px;
           background-color: #A80E0E;
           display: flex;
           justify-content: start;
           align-items: center; }

.fa-magnifying-glass { width: 33px;
                       height: 33px;
                       font-size: 30px;
                       margin-left: 66px;
                       color: #FFFFFF; }

.fa-user { width: 30px;
           height: 33px;
           font-size: 30px;
           margin-left: 54.5px;
           color: #FFFFFF; } 

.fa-bag-shopping { width: 23px;
                   height: 32px;
                   font-size: 30px;
                   margin-left: 65px;
                   color: #FFFFFF; }

.s1-big-box1 { display: flex;
               flex-direction: column; }

.s1-h1 { width: 610px;
         height: 97px;
         font-family: 'Avengeance Mightiest Avenger Regular';
         font-size: 96px;
         color: #FFFFFF;
         margin-left: 235px;
         margin-top: 184.8px; }

.s1-p1 { width: 375px;
         height: 77px;
         font-family: 'Montserrat-Bold';
         font-size: 30px;
         color: #FFFFFF;
         margin-left: 291px;
         margin-top: 54px; }

.s1-box3 { width: 255px;
           height: 68px;
           display: flex;
           justify-content: space-evenly;
           align-items: center;
           border-radius: 90px;
           background-color: #FFAA00;
           margin-left: 235px;
           margin-top: 90px; }

.s1-p2 { width: 168px;
         height: 27px;
         color: #A80E0E;
         font-family: 'Avengeance Mightiest Avenger Regular';
         font-size: 27px; }

.fa-arrow-right { width: 21.44px;
                  height: 12px;
                  color: #A80E0E; }

                                                                     /*section 2*/


.section-2 { width: 1920px;
             height: 749px;
             background-color: #FFFFFF; }

.s2-big-box { display: flex;
              flex-direction: column;
              align-items: center; }

.s2-h2 { width: 364px;
         height: 51px;
         color: #A80E0E;
         font-family: 'Avengeance Mightiest Avenger Regular';
         font-size: 50px;
         margin-top: 152px; }

.s2-p { width: 642px;
        height: 24px;
        color: #382E36;
        font-family: 'Montserrat-Light';
        font-size: 20px;
        margin-top: 45px; }

.s2-big-box1 { height: 236px;
               margin-top: 72px;
               display: flex;
               align-items: center; }

.s2-box1,
.s2-box2,
.s2-box4,
.s2-box5,
.s2-box6 { display: flex;
           flex-direction: column;
           align-items: center; }

.s2-box1 { width: 100.06px;
           margin-left: 291px; }
          

.s2-box1 img { width: 100.06px;
               height: 91.92px; }

.s2-box1 p { width: 80px;
             height: 22px;
             font-family: 'Montserrat-Regular';
             font-size: 18px;
             color: #000000;
             margin-top: 39.1px; }

.s2-box2 { width: 94.43px;
           margin-left: 148.9px; } 

.s2-box2 img { width: 94.43px;
               height: 116.35px; }

.s2-box2 p { width: 54px;
             height: 22px;
             font-family: 'Montserrat-Regular';
             font-size: 18px;
             color: #000000;
             margin-top: 27.6px; }

.s2-box3 { width: 248px;
           height: 236px;
           margin-left: 77.6px;
           display: flex;
           border-radius: 5px;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           box-shadow: 0px 15px 15px #000000; }

.s2-box3 img { width: 75.13px;
               height: 97.89px; }

.s2-box3 p { width: 106px;
             height: 22px;
             font-family: 'Montserrat-Regular';
             font-size: 18px;
             color: #000000;
             margin-top: 36.1px; }

.s2-box4 { width: 69.56px;
           margin-left: 89px; } 

.s2-box4 img { width: 69.56px;
               height: 115.93px; }

.s2-box4 p { width: 90px;
             height: 22px;
             font-family: 'Montserrat-Regular';
             font-size: 18px;
             color: #000000;
             margin-top: 27.1px; }
 
.s2-box5 { width: 91.77px;
           margin-left: 170.2px; } 

 /*--------------------------------------- sendvichis dedac  -------------------------------------------------*/ 

.s2-box5-rel { width: 91.77px;
               height: 91.77px;
               position: relative; }

.s2-box5 img:nth-child(1) { width: 91.77px;
                            height: 91.77px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            z-index: 2; }

.s2-box5 img:nth-child(2) { width: 88.25px;
                            height: 88.25px;
                            position: absolute;top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            z-index: 1; }

.s2-box5 img:nth-child(3) { width: 72.83px;
                            height: 72.83px;
                            position: absolute;
                            bottom: 11.9px;
                            left: 11.9px;
                            z-index: 3; }

.s2-box5 img:nth-child(4) { width: 51.07px;
                            height: 51.07px;
                            position: absolute;
                            bottom: 22.2px;
                            left: 23.9px;
                            z-index: 4; }

.s2-box5 img:nth-child(5) { width: 19.62px;
                            height: 19.62px;
                            position: absolute;
                            bottom: 38.4px;
                            left: 38px;
                            z-index: 5; }

.s2-box5 img:nth-child(6) { width: 10.59px;
                            height: 3.53px;
                            position: absolute;
                            bottom: 65.3px;
                            left: 7.1px;
                            z-index: 6; }

.s2-box5 img:nth-child(7) { width: 10.59px;
                            height: 3px;
                            position: absolute;
                            bottom: 65.3px;
                            left: 7.1px;
                            z-index: 7; }

.s2-box5 img:nth-child(7) { width: 22.94px;
                            height: 3.53px;
                            position: absolute;
                            bottom: 47.7px;
                            left: 7.1px;
                            z-index: 7; }

.s2-box5 img:nth-child(8) { width: 40.59px;
                            height: 3.53px;
                            position: absolute;
                            bottom: 30px;
                            left: 7.1px;
                            z-index: 8; }

.s2-box5 img:nth-child(9) { width: 3.53px;
                            height: 3.53px;
                            position: absolute;
                            bottom: 7.1px;
                            left: 17.6px;
                            z-index: 9; }

/*----------------------------------------------------------------------------------------------------*/

.s2-box5 p { width: 106px;
             height: 22px;
             font-family: 'Montserrat-Regular';
             font-size: 18px;
             color: #000000;
             margin-top: 41px; }

.s2-box6 { width: 108.68px;
           margin-left: 148.2px; } 

.s2-box6 img { width: 108.68px;
               height: 110.2px; }

.s2-box6 p { width: 102px;
             height: 22px;
             font-family: 'Montserrat-Regular';
             font-size: 18px;
             color: #000000;
             margin-top: 30px; }

                                                              /*section 3*/

.section-3 { width: 1920px;
             height: 852px; }

.s3-box { width: 1920px;
          height: 852px;
          display: flex;
          align-items: center;
          justify-content: start;
          background-color: #FFAA00; }

.s3-box1{ width: 809px;
          height: 809px;
          margin-left: 14px;
          margin-top: 43px; }

.s3-big-box { width: 1054px;
              height: 852px;
              margin-left: 43px; }


.s3-box2 { width: 518px;
           height: 112px;
           margin-top: 367px;
           font-family: 'Avengeance Mightiest Avenger Regular';
           font-size: 47px;
           color: #FFFFFF; }

.s3-h2:nth-child(1) { width: 364px;
                     height: 48px; }

.s3-h2:nth-child(2) { width: 518px;
                     height: 48px;
                     margin-top: 16px; }

.s3-box3 { width: 449px;
           height: 102px;
           margin-top: 65.5px;
           align-items: flex-start;
           overflow: hidden; }


.s3-box3 p { font-family: 'Montserrat-Regular';
           font-size: 20px;
           color: #FFFFFF; }

.s3-box3:hover { overflow: visible; }


                                                            /*section 4*/


.section-4 { width: 1920px;
             height: 1813px;
             display: flex;
             flex-direction: column;
             align-items: center;
             background-color: #FFFFFF; }

.s4-h3 { width: 586px;
         height: 41px;
         margin-top: 136px;
         font-family: 'Avengeance Mightiest Avenger Regular';
         font-size: 40px;
         color: #A80E0E; }

.s4-p { width: 642px;
        height: 24px;
        margin-top: 64px;
        font-family: 'Montserrat-Light';
        font-size: 20px;
        color: #382E36; }

.s4-big-box { width: 1447px;
              height: 1130px;
              margin-top: 118px; }

.s4-box1,
.s4-box2 { width: 1447px;
           height: 537px;
           display: flex;
           align-items: flex-start; }

.s4-box2 { margin-top: 56px; }

.s4-img { width: 444px;
          height: 302.52px; }

.s4-mini-box1,
.s4-mini-box2,
.s4-mini-box3 { width: 444px;
                height: 537px;
                display: flex;
                flex-direction: column; }


.s4-mini-box2 { margin-left: 58px; }

.s4-mini-box3 { margin-left: 57px; }

.s4-h5 { width: 215px;
         height: 27px;
         margin-left: 36px;
         margin-top: 73.5px;
         font-family: 'Montserrat-Regular';
         font-size: 22px;
         color: #000000; }

.s4-p1 { width: 369px;
         height: 19px;
         margin-top: 12px;
         margin-left: 36px;
         font-family: 'Montserrat-UltraLight';
         font-size: 16px;
         color: #686868; }

.s4-mini-box1 { width: 253px;
                  height: 40px;
                  margin-top: 30px;
                  margin-left: 36px;
                  display: flex;
                  flex-direction: row;
                  align-items: center; }

.s4-price-click { width: 164px;
                  height: 40px;
                  background-color: #FFAA00;
                  border-radius: 90px;
                  display: flex;
                  justify-content: center;
                  align-items: center; }

.s4-price-click p { width: 85px;
                    height: 18px;
                    font-family: 'Montserrat-Light';
                    font-size: 14px;
                    color: #FFFFFF; }

.s4-price { width: 77px;
            height: 23px;
            font-family: 'Avengeance Mightiest Avenger Regular';
            font-size: 22px;
            color: #A80E0E;
            margin-left: 12px; }

.s4-click { width: 255px;
            height: 68px;
            margin-top: 106px;
            background-color: #A80E0E;
            border-radius: 90px;
            display: flex;
            justify-content: center;
            align-items: center; }

.s4-click p { width: 153px;
              height: 19px;
              font-family: 'Avengeance Mightiest Avenger Regular';
              font-size: 18px;
              color: #FFFFFF; }















body {padding-bottom: 100px; background-color: black;}   